<template name="home">
    {{> navbar }}
    {{> items}}
    {{> footer}}
</template>

<template name="items">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default items">
                <div class="panel-header">
                    {{> pagesNav}}
                </div>
                <div class="panel-body items-list">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-4 col-sm-4 sortable hidden-xs" data-sort-field="title"
                                data-sort-field-type="text">Title
                            </th>
                            <th class="col-md-3 col-sm-3 sortable hidden-xs" data-sort-field="handle"
                                data-sort-field-type="text">Handle
                            </th>
                            <th class="col-md-2 col-sm-2 sortable active hidden-xs hidden-sm"
                                data-sort-field="dateIssued" data-sort-field-type="date">
                                Date Issued
                                <div id="sorter" class="pull-right">
                                    <i class="fa fa-chevron-circle-up"></i><i
                                        class="fa fa-chevron-circle-down active"></i>
                                </div>
                            </th>
                            <th class="col-md-2 col-sm-2 sortable hidden-xs hidden-sm" data-sort-field="importedDate"
                                data-sort-field-type="date">
                                Imported On
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{> pages}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="item">
    <tr class="{{itemWithDOI}}">
        <td>
            {{title}}
            <div class="handle visible-xs">
                <strong>Handle:</strong> <a href="#" onclick="window.open('{{url}}', '_system');">{{url}}</a>
            </div>
            {{#if doi}}
                <div class="doi">
                    <strong>DOI:</strong> <a href="#" onclick="window.open('{{doi}}', '_system');">{{doi}}</a>
                </div>
            {{/if}}
            <div class="last-modified visible-xs visible-sm">
                <strong>Date Issued:</strong> {{issuedOn}}
            </div>
            <div class="imported-on visible-xs visible-sm">
                <strong>Imported On:</strong> {{importedOn}}
            </div>
        </td>
        <td class="hidden-xs">
            <a href="#" onclick="window.open('{{url}}', '_system');">{{url}}</a>
        </td>
        <td class="hidden-xs hidden-sm text-center">{{issueDate}}</td>
        <td class="hidden-xs hidden-sm">{{importedOn}}</td>
    </tr>
</template>

<template name="searchByForm">
    <div class="form-group">
        <label class="control-label" for="select-search-field">Search By</label>
        <select id="select-search-field" class="form-control">
            <option value="title" data-sort-field-type="text">Title</option>
            <option value="handle" data-sort-field-type="text">Handle</option>
            <option value="dateIssued" data-sort-field-type="date" selected>Date Issued</option>
            <option value="importedDate" data-sort-field-type="date">Imported Date</option>
        </select>
    </div>
</template>

<template name="sortByForm">
    <div class="form-group">
        <label class="control-label" for="select-search-field">Sort</label>
        <div class="radio radio-primary">
            <label>
                <input type="radio" name="sort" id="sortAscending" value="1">
                Ascending
            </label>
        </div>
        <div class="radio radio-primary">
            <label>
                <input type="radio" name="sort" id="sortAscending" value="-1" checked="checked">
                Decending
            </label>
        </div>
    </div>
</template>

<template name="dateSearchForm">
    <div class="form-group">
        <label class="control-label" for="search-after-date"><strong
                class="selected-search-field">{{selectedSearchField}}</strong> After</label>
        <input id="search-after-date" class="form-control picker" type="date"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="search-before-date"><strong
                class="selected-search-field">{{selectedSearchField}}</strong> Before</label>
        <input id="search-before-date" class="form-control picker" type="date"/>
    </div>
    <div class="btn-group btn-group-justified btn-group-raised">
        <a id="search-items-by-date" href="#" class="btn btn-success"><i class="fa fa-search"></i> Search</a>
        <a id="clear-search-items-by-date" href="#" class="btn "><i class="fa fa-times"></i> Clear</a>
    </div>
</template>

<template name="textSearchForm">
    <div class="form-group label-floating">
        <label class="control-label" for="search-term">
            Search items by <strong class="selected-search-field">{{selectedSearchField}}</strong>
        </label>
        <input type="text" id="search-term" class="form-control"/>
        <div class="btn-group btn-group-justified btn-group-raised">
            <a id="search-items" href="#" class="btn btn-success">
                <i class="fa fa-search"></i> Search
            </a>
            <a id="clear-search-items" href="#" class="btn ">
                <i class="fa fa-times"></i> Clear
            </a>
        </div>
    </div>
</template>

