<template name="items">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default items">
                <div class="panel-header">
                    {{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center" }}
                </div>
                <div class="panel-body items-list">
                    <table class="table table-responsive table-striped">
                        <thead>
                        <tr>
                            <th class="col-sm-4 sortable hidden-xs" data-sort-field="title"
                                data-sort-field-type="text">Title
                            </th>
                            <th class="col-sm-3 sortable hidden-xs" data-sort-field="itemId"
                                data-sort-field-type="text">Handle
                            </th>
                            <th class="col-sm-2 sortable active hidden-xs hidden-sm"
                                data-sort-field="issuedDate" data-sort-field-type="date">
                                Date Issued
                                <div id="sorter" class="pull-right">
                                    <i class="fa fa-chevron-circle-up"></i>
                                    <i class="fa fa-chevron-circle-down active"></i>
                                </div>
                            </th>
                            <th class="col-sm-2 sortable hidden-xs hidden-sm" data-sort-field="importedDate"
                                data-sort-field-type="date">
                                Imported On
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each items}}
                            {{> item}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="item">
    <tr class="{{itemWithDOI}}">
        <td class="col-sm-5">
            <p>{{title}}</p>
            <div class="handle visible-xs">
                <strong>Handle:</strong> <a href="#" onclick="window.open('{{url}}', '_system');">{{url}}</a>
            </div>
            {{#if doi}}
                <div class="doi">
                    <strong>DOI:</strong> <a href="#" onclick="window.open('{{doi}}', '_system');">{{doi}}</a>
                </div>
            {{/if}}
            <div class="last-modified visible-xs visible-sm">
                <strong>Date Issued:</strong> {{issuedOn}}
            </div>
            <div class="imported-on visible-xs visible-sm">
                <strong>Imported On:</strong> {{importedOn}}
            </div>
        </td>
        <td class="col-sm-3 hidden-xs">
            <a href="#" onclick="window.open('{{url}}', '_system');">{{url}}</a>
        </td>
        <td class="col-sm-2 hidden-xs hidden-sm text-center">{{issuedOn}}</td>
        <td class="col-sm-2 hidden-xs hidden-sm">{{importedOn}}</td>
    </tr>
</template>